@import "../../sass/abtracts/variables.scss";

.footer {
  width: 100%;
  background-color: $mainColorBlue;
  color: white;
  font-weight: bold;
  height: 100px;

  & a {
    text-decoration: none;
    color: white;
    font-size: 18px;
  }
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
