<footer class="footer">
  <div class="footer-content">
    <!-- Bloque 1: Información de la empresa -->
    <div class="footer-block">
      <div class="footer-title">Megapagos.co S.A.S.</div>
      <div>Cra 7 # 4 - 32</div>
      <div>Aguadas, Caldas</div>
    </div>

    <!-- Bloque 2: Soporte -->
    <div class="footer-block">
      <div class="footer-title">Soporte:</div>
      <div>comunicaciones@certificadostradicionylibertad.co</div>
      <div>Tel: 3128255691</div>
    </div>

    <!-- Bloque 3: Políticas y términos -->
    <div class="footer-block">
      <div><a target="_blank" href="https://certificadostradicionylibertad.co/politicas-privacidad">Políticas de privacidad</a></div>
      <div><a target="_blank" href="https://certificadostradicionylibertad.co/politicas-privacidad">Términos y condiciones</a></div>
    </div>
  </div>
</footer>
