<h1>Directorio de Oficinas de registro de instrumentos públicos en Colombia</h1>
<p>Encuentra la oficina de registro en Colombia más cercana</p>

<button routerLink="/directorio">⬅ Volver</button>

<div *ngIf="departamentoSeleccionado">
  <input
    type="text"
    placeholder="Filtrar por municipio"
    [(ngModel)]="searchMunicipio"
  />
</div>

<div *ngIf="departamentoSeleccionado; else noDepto">
  <div *ngFor="let municipio of filteredMunicipios">
    <div *ngFor="let oficina of municipio.informacion" class="oficina">
      <p><strong>{{ oficina.nombre_oficina }}</strong></p>
      <p><strong>Correo electrónico:</strong> {{ oficina.correo }}</p>
      <p><strong>Teléfono:</strong> {{ oficina.telefono }}</p>
      <p><strong>Dirección:</strong> {{ oficina.direccion }}</p>
    </div>
    <hr />
  </div>
</div>

<ng-template #noDepto>
  <p>No se encontró el departamento con el id proporcionado.</p>
</ng-template>
