<div class="faq-container">
  <strong><h1 class="faq-title">Preguntas frecuentes</h1></strong>

  <div class="faq-image">
    <img src="assets/faq.png" alt="Preguntas frecuentes" />
  </div>

  <!-- FAQ 1 -->
  <div class="faq1">
    <div class="faq-list">
      <div class="faq-item" *ngFor="let faq of faqs">
        <div class="faq-header" (click)="toggleFaq(faq)">
          <strong><p>{{ faq.title }}</p></strong>
          <span>
            <img src="assets/plus.png" alt="Abrir pregunta" />
          </span>
        </div>
        <div class="faq-answer" *ngIf="faq.open">
          <div [innerHTML]="faq.content"></div>
        </div>
      </div>
    </div>
  </div>

  <!-- FAQ 2 -->
  <div class="faq2">
    <div class="faq-section">
      <div class="faq-image-side">
        <img src="assets/faq2.png" alt="Preguntas frecuentes" />
      </div>
      <div class="faq-list-side">
        <div class="faq-item" *ngFor="let faq of faqs2">
          <div class="faq-header" (click)="toggleFaq(faq)">
            <strong><p>{{ faq.title }}</p></strong>
            <span>
              <img src="assets/plus.png" alt="Abrir pregunta" />
            </span>
          </div>
          <div class="faq-answer" *ngIf="faq.open">
            <div [innerHTML]="faq.content"></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- FAQ 3 -->
  <div class="faq3">
    <div class="faq-section-blue">
      <div class="faq-list">
        <div class="faq-item" *ngFor="let faq of faqs3">
          <div class="faq-header" (click)="toggleFaq(faq)">
            <strong><p>{{ faq.title }}</p></strong>
            <span>
              <img src="assets/plus.png" alt="Abrir pregunta" />
            </span>
          </div>
          <div class="faq-answer" *ngIf="faq.open">
            <div [innerHTML]="faq.content"></div>
          </div>
        </div>
      </div>
    </div>

    <div class="faq-image">
      <img src="assets/faq3.png" alt="Preguntas frecuentes" />
    </div>
  </div>
</div>
