<mat-toolbar color="primary">
  <!-- Botón hamburguesa visible en dispositivos móviles y tabletas -->
  <button mat-icon-button class="menu-button" aria-label="Toggle menu" (click)="toggleMenu()">
      <mat-icon>menu</mat-icon>
  </button>

  <!-- Lista de enlaces de navegación -->
  <div class="nav-links" [class.open]="isMenuOpen">
      <a mat-button (click)="toggleMenu()" routerLink="/inicio">Inicio</a>
      <a mat-button (click)="toggleMenu()" href="#comprar-certiticado">Comprar certificado de tradición y libertad</a>
      <a mat-button (click)="toggleMenu()" routerLink="/blog">Blog</a>
  </div>
</mat-toolbar>

<div class="main" (click)="toggleMenu()">
  <router-outlet></router-outlet>
  <app-footer></app-footer>
</div>
