<div class="head">
  <h2>Directorio de Oficinas de registro de instrumentos públicos en Colombia</h2>

  <p>
    Encuentra la oficina de registro en Colombia más cercana
  </p>
</div>
<div class="buscadores">
  <!-- Select de departamentos -->
  <select #depSel [(ngModel)]="selectedDep" (change)="onDepartamentoChange(depSel.value)" class="buscador-select">
    <option value="">Seleccionar departamento</option>
    <option *ngFor="let dep of departamentos; trackBy: trackByDep" [value]="dep.nombre">
      {{ dep.nombre }}
    </option>
  </select>

  <!-- Select de municipios -->
  <select (change)="onMunicipioSeleccionado($event, selectedDepId)" class="buscador-select">
    <option value="">Seleccionar municipio</option>
    <option *ngFor="let mun of municipiosFiltrados; trackBy: trackByMun" [value]="mun.codigo">
      {{ mun.nombre }}
    </option>
  </select>
</div>

<div class="departaments_images_list">
  <div
    class="grid-container"
    [ngClass]="{ filtered: applyFiltered }"
  >
    <div
      class="card"
      *ngFor="let dep of destacadosImgs; let i = index"
      [ngClass]="{
        big: i === 0,
        filteredCard: applyFiltered
      }"
      [style.backgroundImage]="'url(' + dep.img + ')'"
    >
      <span>{{ dep.nombre }}</span>
      <a
        [routerLink]="['/departamento']"
        [queryParams]="{ depId: dep.depId, citId: dep.citId || '' }"
      >
        <button class="plus">+</button>
      </a>
    </div>
  </div>
</div>

<div class="departament_list">
  <h2>Conoce el listado aquí</h2>

  <div class="grid-selects" [ngClass]="{ filtered: applyFiltered }">
    <div *ngFor="let departamento of filteredDepartamentos; trackBy: trackByDep">
      <select (change)="onMunicipioSeleccionado($event, departamento.codigo)">
        <option value="" disabled selected>{{ departamento.nombre }}</option>
        <option *ngFor="let municipio of departamento.municipios; trackBy: trackByMun"
                [value]="municipio.codigo">
          {{ municipio.nombre }}
        </option>
      </select>
    </div>
  </div>
</div>
