<h1>Directorio de Oficinas de registro de instrumentos públicos en Colombia</h1>

<p>
  Encuentra la oficina de registro en Colombia más cercana
</p>

<div class="buscadores">
  <input
    type="text"
    placeholder="Buscar por departamento"
    [(ngModel)]="searchDepartamento"
  />
  <input
    type="text"
    placeholder="Buscar por municipio"
    [(ngModel)]="searchMunicipio"
  />
</div>
<div class="departaments_images_list">
  <div class="grid-container">
    <div
      class="card"
      *ngFor="let dep of departamentosImgs; let i = index"
      [ngClass]="{ big: i === 0 }"
      [style.backgroundImage]="'url(' + dep.img + ')'"
    >
      <span>{{ dep.nombre }}</span>
      <a
        [routerLink]="['/departamento']"
        [queryParams]="{ depId: dep.depId, citId: dep.citId }"
      >
        <button class="plus">+</button>
      </a>
    </div>
  </div>
</div>

<div class="departament_list">
  <h2>Conoce el listado aquí</h2>

  <div class="grid-selects">
    <div *ngFor="let departamento of filteredDepartamentos; trackBy: trackByDep">
      <select (change)="onMunicipioSeleccionado($event, departamento.codigo)">
        <option value="" disabled selected>{{ departamento.nombre }}</option>
        <option *ngFor="let municipio of departamento.municipios; trackBy: trackByMun"
                [value]="municipio.codigo">
          {{ municipio.nombre }}
        </option>
      </select>
    </div>
  </div>
</div>
