<div class="head">
  <br><br>
  <div class="row">
    <div class="col-md-6">
      <h1><img width="50" src="../../../assets/Group 39513.png" alt=""> Blog inmobiliario</h1>
    </div>
    <div class="col-md-6">
      <div class="container">
        <div class="center-res">
          <button>Comprar certificado</button>
        </div>
        
      </div>
    </div>
  </div>

</div>
<div class="find">
  <h3>Aquí encontrarás:</h3>
</div>

<div class="container-info">
  <div class="row">
    <div class="col-md-6">
      <div class="info">
        <div class="row">
          <div class="col-md-2"><img width="50" src="../../../assets/house.png" alt=""></div>
          <div class="col-md-10">
            <p>Información actualizada y relevante sobre el sector inmobiliario en Colombia.</p>
          </div>
        </div>

      </div>
    </div>
    <div class="col-md-6">
      <div class="info">
        <div class="row">
          <div class="col-md-2"><img width="40" src="../../../assets/leaf.png" alt=""></div>
          <div class="col-md-10">
            <p>Contenido relacionado al Certificado de Tradición y Libertad.</p>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

<div *ngIf="user" class="center"><button (click)="addPost(template)" class="button"><mat-icon>add</mat-icon></button></div>
<div class="center">
  <div class="cards-grid">
    <div class="row">
      <div class="col">
        <div class="row">
          <ng-container *ngFor="let card of cards1first">

            <div routerLink="{{'publicacion/'+card.url}}" class="col card" [style]="'width:'+card.width+';'+'height:'+card.height+';'">
              <div class="card-image">
                <img src="{{card.image}}" alt="{{ card.title }}">
              </div>
              <div class="card-content">
                <p class="card-date">{{ card.date }}</p>
                <h2 class="card-title">{{ card.title }}</h2>
                <p class="card-description">{{ card.description }}</p>
              </div>
            </div>


          </ng-container>
        </div>
        <div class="row">
          <ng-container *ngFor="let card of cards1">

            <div routerLink="{{'publicacion/'+card.url}}" class="col card" [style]="'width:'+card.width+';'+'height:'+card.height+';'">
              <div class="card-image">
                <img src="{{card.image}}" alt="{{ card.title }}">
              </div>
              <div class="card-content">
                <p class="card-date">{{ card.date }}</p>
                <h2 class="card-title">{{ card.title }}</h2>
                <p class="card-description">{{ card.description }}</p>
              </div>
            </div>


          </ng-container>
        </div>
      </div>
      <div class="col">
        <div class="row">
          <ng-container *ngFor="let card of cards2">

            <div routerLink="{{'publicacion/'+card.url}}" class="col card" [style]="'width:'+card.width+';'+'height:'+card.height+';'">
              <div class="card-image">
                <img src="{{card.image}}" alt="{{ card.title }}">
              </div>
              <div class="card-content">
                <p class="card-date">{{ card.date }}</p>
                <h2 class="card-title">{{ card.title }}</h2>
                <p class="card-description">{{ card.description }}</p>
              </div>
            </div>


          </ng-container>
        </div>
        <div class="row">
          <ng-container *ngFor="let card of cards2last">

            <div routerLink="{{'publicacion/'+card.url}}" class="col card" [style]="'width:'+card.width+';'+'height:'+card.height+';'">
              <div class="card-image">
                <img src="{{card.image}}" alt="{{ card.title }}">
              </div>
              <div class="card-content">
                <p class="card-date">{{ card.date }}</p>
                <h2 class="card-title">{{ card.title }}</h2>
                <p class="card-description">{{ card.description }}</p>
              </div>
            </div>


          </ng-container>
        </div>

      </div>
    </div>

  </div>
</div>
<div class="boton">
  <button type="submit" class="btn btn-primary compra">Comprar certificado</button>
</div>
<div class="head">
  <br><br>
  <div class="row">
    <div class="col">
      <h2>{{searchQuery===""?'Lo mas leído':'Resultados para: '+searchQuery}}</h2>
    </div>
    <div class="col">
      <div class="container">
        <input [(ngModel)]="searchQuery" (keyup)="buscar()" type="text" placeholder="Categorías">
      </div>
    </div>
  </div>

</div>

<br>
<div class="contain">
  <div class="mostr">
    <div class="row" *ngIf="results && results.length > 0; else noResults">
      <div routerLink="{{'publicacion/'+post.url}}" *ngFor="let post of results" class="col-md-6">
        <div class="row">
          <div class="col">
            <img width="250" src="{{ post.image }}" alt="">
          </div>
          <div class="col">
            <h3>{{ post.title }}</h3>
            <p>{{ post.description }}</p>
            <p class="date">{{ post.date }}</p>
          </div>
        </div>
        <br><br>
      </div>
    </div>
    <ng-template #noResults>
      <p class="no-results">No se encontraron resultados.</p>
    </ng-template>
  </div>
</div>




<ng-template #template>
  <app-post-form (close)="modalRef?.hide()" [post]="editingPost"></app-post-form>
</ng-template>