.example-card {
    max-width: 400px;
    margin: 20px auto;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.card-container {
    width: 300px;
    margin: 20px;
}



mat-card-content {
    padding: 16px;
    background-color: white !important;

    & h2 {
        font-size: 1.5rem;
        margin: 0;
        color: #333;
        height: 65px;
    }

    & p {
        margin: 8px 0;
        color: #666;
        height: 115px;
        overflow: hidden;
        /* Oculta el texto que se desborda */
        text-overflow: ellipsis;
    }

    & a {
        display: block;
        margin: 8px 0;
        font-weight: bold;
        color: #1976d2;
        text-decoration: none;
        height: 35px;

        &:hover {
            text-decoration: underline;
        }
    }
}

.button {
    background-color: transparent;
    border-color: transparent;
}

h1 {
    font-weight: bold;
    max-width: 500px;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.cards-grid {
    width: 90%;

    .card {
        width: 100%;
        margin: 15px;
        position: relative;
        border-radius: 12px;
        overflow: hidden;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
        transition: transform 0.3s ease;
        background-color: #fff;

        &:hover {
            transform: translateY(-10px);
        }

        .card-image {
            position: absolute; // Hacer que la imagen cubra toda la tarjeta
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;

            img {
                width: 100%;
                height: 100%; // Asegurar que ocupe todo el espacio disponible
                object-fit: cover; // Mantener proporciones y rellenar el área
                border-radius: 12px;
            }
        }

        .card-content {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 100%;
         
            color: #fff;
            padding: 1rem;
            text-align: left;

            .card-date {
                font-size: 0.8rem;
                margin-bottom: 0.5rem;
                color: rgba(255, 255, 255, 0.7);
            }

            .card-title {
                font-size: 1.5rem;
                font-weight: bold;
                margin: 0;
            }

            .card-description {
                font-size: 1rem;
                margin-top: 0.5rem;
            }
        }
    }
}

.head {
    padding-left: 90px;
    padding-right: 90px;

    & h1 {
        color: #A5352A;
    }

    & .container {
        position: relative;

        & button {
            right: 0;
            position: absolute;
            width: 200px;
            height: 40px;

            /* Red */
            background: #A5352A;
            border-radius: 8px;

            /* Inside auto layout */
            flex: none;
            order: 3;
            flex-grow: 0;
            color: white;
            border: solid transparent;
        }

        & input {
            right: 0;
            position: absolute;
            width: 200px;
            height: 40px;

            /* Red */
            background: rgba(167, 23, 23, 0.5);
            ;
            border-radius: 8px;

            /* Inside auto layout */
            flex: none;
            order: 3;
            flex-grow: 0;
            color: white;
            border: solid transparent;
            border: 2px solid #A5352A;
        }

    }

}

.container-info {
    padding-left: 90px;
    padding-right: 90px;

    & .info {
        color: #A5352A;
        background: rgba(165, 53, 42, 0.23);
        border: solid 2px #A5352A;
        padding: 20px;

        border-radius: 5px;
        font-weight: bold;
        padding: 20px;
    }

}

.mostr {
    width: 90%;

    & h3 {
        color: #A5352A;
        font-weight: bold;

    }

    & .date {
        font-weight: bold;
    }
}

.contain {
    display: flex;
    align-items: center;
    justify-content: center;
}

.compra {
    background-color: #d9534f;
    color: white;
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 5px;
    font-size: 1.5rem;
    cursor: pointer;
    width: 300px;
}

.compra:hover {
    background-color: #c9302c;
}

.boton {
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.find {
    padding-left: 70px;
    margin: 20px;

    & h3 {
        font-size: 20px;
        font-weight: bold;
    }

}

@media screen and (max-width: 768px) {
    .info {
        margin: 10px;
    }
    .container-info{
        padding-left: 0px;
    padding-right: 0px;
    }

    .head {
        padding-left: 0px;
        padding-right: 0px;

        & .container {
            
            & button {
                position: static;
                
            }
            & input {
                position: static;
                
            }
            & .center-res{
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }

    }
}

.search-container {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 16px;
  }
  
  .search-input {
    padding: 8px;
    font-size: 16px;
    flex-grow: 1;
  }
  
  .no-results {
    text-align: center;
    font-size: 18px;
    color: #888;
    margin-top: 20px;
  }
  .img_container {
    position: relative;
    width: 250px;
    height: 150px;
    overflow: hidden;
  }
  
  .img_post {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
  }
  .pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  
    button {
      margin: 0 10px;
      padding: 5px 10px;
      border: none;
      background-color: #007bff;
      color: white;
      border-radius: 5px;
      cursor: pointer;
      &:disabled {
        background-color: #ccc;
        cursor: not-allowed;
      }
    }
  
    span {
      font-size: 16px;
    }
  }
  